.icon, .popup::before, .icon_box::after, .main_menu_list_box::before, .title_wrap_subject::after, .loader_wrap::after{
    background-image:url('../../../src/images/sprite/sprite.png');
    color: transparent;
}

.icon_cancel{
    display:inline-block;
}


@include mobile{

    .icon, .icon_box::after, .main_menu_list_box::before, .title_wrap_subject::after, .loader_wrap::after{
        background-size:64vw;
    }
    /*
    아이콘 순서대로 추가합니다.
    $icon_list: 아이콘 클래스명
    $bp: background-position
    $w: width
    $h: height
    */
    $icon_list:(arrow, cancel, cheer, chef, defy, full_smile, heart, noodle, party, preparing, restaurant, schedule, soup, teacher, thinking, wait, paper, dish);
    $bp:(-54.58vw -37.92vw, -47.5vw -36.46vw, -18.13vw 0, -54.58vw -28.54vw, -44.3vw -18.33vw, -29.2vw -37vw, 0 -18.33vw, -9.8vw -37vw, -20.17vw -37.46vw, -19.17vw 0, -39.13vw -37.46vw, -55.58vw 0, -32.5vw -18.5vw, -54.58vw -19.17vw, -18.33vw -18.33vw, 0 0, 0 -37.46vw, -55.5vw -9.6vw);
    $w:(7.04vw, 6vw, 17.08vw, 8.33vw, 8.54vw, 8.33vw, 17.29vw, 8.54vw, 8.54vw, 17.29vw, 8.33vw, 8.33vw, 10.63vw, 8.33vw, 12.5vw, 17.08vw, 8.54vw, 8.5vw);
    $h:(5.58vw, 6vw, 17.29vw, 8.33vw, 8.54vw, 8.54vw, 17.08vw, 8.54vw, 8.54vw, 17.08vw, 8.54vw, 8.54vw, 10.63vw, 8.33vw, 12.5vw, 17.29vw, 8.54vw, 8.54vw);
    
    @for $i from 1 through length($icon_list){
        .icon_#{nth($icon_list, $i)}{
            background-position:nth($bp, $i);
            width:nth($w, $i);
            height:nth($h, $i);
            }
    }
    
}