.text_box{

    .type{
        display:block;
        font-size:14px;
        font-weight:600;
        margin-bottom:14px;
    }
    input[type="text"]{
        width:380px;
        height:34px;
        font-size:24px;
        border:none;

        &::placeholder{
            color:#d9d9d9;
            font-family:$ff_base;
        } // .text_box input[type="text"]::placeholder

    }
    &_focus{
        position: relative;
        display:block;
        color:#fea800;
        font-size:14px;
        padding-top:9.6px;
        font-weight:600;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 380px;
            height: 2px;
            background-color: #fea800;
        }
    } // .text_box_focus

}

.contents_wrap.dislike_menu, .contents_wrap.yesterday_menu{

    .text_box{
        height:calc(100vh - 407px);
        min-height:134px;
    }

}

@include mobile{

    .text_box{

        .type{
            font-size:2.8vw;
           margin-bottom:2.92vw;
        }

        input[type="text"]{
            width:79.17vw;
            height:7.08vw;
            font-size:5vw;
        }

        &_focus{
            font-size:2.8vw;
            padding-top:2vw;
            &:before{
                width: 79.1vw;
                height: 0.4vw;
            }
        } // .text_box_focus
    }

    .contents_wrap.dislike_menu, .contents_wrap.yesterday_menu{

        .text_box{
            height:calc(100vh - 84.79vw);
            min-height:27.91vw;
        }
    
    }

}