.text_box{

    .type{
        display:block;
        font-size:14px;
        font-weight:600;
        margin-bottom:14px;
    }
    input[type="text"]{
        width:380px;
        height:34px;
        font-size:24px;
        border-bottom:solid 2px #fea800;

        &::placeholder{
            color:#d9d9d9;
            font-family:$ff_base;
        } // .text_box input[type="text"]::placeholder

    }
    &_focus{
        display:block;
        color:#fea800;
        font-size:14px;
        margin-top:9.6px;
        font-weight:600;
    } // .text_box_focus

}

.contents_wrap.dislike_menu, .contents_wrap.yesterday_menu{

    .text_box{
        height:calc(100vh - 407px);
        min-height:134px;
    }

}

@include mobile{

    .text_box{

        .type{
            font-size:2.8vw;
           margin-bottom:2.92vw;
        }

        input[type="text"]{
            width:79.17vw;
            height:7.08vw;
            font-size:5vw;
            border-bottom:solid 0.42vw #fea800;
        }

        &_focus{
            font-size:2.8vw;
            margin-top:2vw;
        } // .text_box_focus
    }

    .contents_wrap.dislike_menu, .contents_wrap.yesterday_menu{

        .text_box{
            height:calc(100vh - 84.79vw);
            min-height:27.91vw;
        }
    
    }

}