.main_footer{
    padding:0 37.5px 63px;
    background-color:#fff;

    &_top{
        display:flex;
        justify-content:space-evenly;
        flex-wrap:wrap;

        li{
            position:relative;

            &:not(:last-child)::after{
                content:'';
                display:block;
                position:absolute;
                top:0;
                right:-24px;
                width:1px;
                height:20px;
                background-color:#000;
            } // .main_footer_top li::after

        }

        &_link{
            display:block;
            font-size:16px;
            text-decoration:underline;
            text-align:center;
        }

    } // .main_footer_top

    &_bottom{
        margin-top:42.8px;
        text-align:center;
    } // .main_footer_bottom

}

@include mobile{

    .main{

        .main_footer{
            padding:0 7.81vw 13.13vw;
            font-size:2.5vw;

            &_top{

                &_link{
                    font-size:3.33vw;
                }
                
                li{

                    &:not(:last-child)::after{
                        top:1vw;
                        right:-5vw;
                        width:0.21vw;
                        height:4.17vw;
                    }

                }

            } // .main_footer_top

            &_bottom{
                margin-top:8.92vw;
            } // .main_footer_bottom

        }

    }
}