@mixin blind{
    position: absolute;
    clip:rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
@mixin float{
    content:'';
    display: block;
    clear: both;
}
@mixin loader{
    color:transparent;
    margin: 0 auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #ffb600;
    background: -moz-linear-gradient(left, #ffb600 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffb600 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffb600 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffb600 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffb600 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: loading 1.4s infinite linear;
    animation: loading 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@mixin loader_before{
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@mixin mobile{
    @media (max-width: 480px){
      @content;
    }
}