/* pagebar */
.pagebar{
    display:inline-block;
    width:210px;
    height:13px;
    background-color:#f5f5f5;
    border-radius:50px;
    margin:0 auto;
    vertical-align:middle;
    margin-left:62px;

    &::before{
        content:'';
        display:block;
        width:70px;
        height:13px;
        background-color:#fea800;
        border-radius:50px;
    } // .pagebar::before

    &.type1::before{
        width:133px;
    } // .pagebar.type1::before

    &.type2::before{
        width:210px;
    } // .pagebar.type12:before

}

@include mobile{

    .pagebar{
        width:43.75vw;
        height:2.71vw;
        border-radius:10.42vw;
        margin-left:12.92vw;

        &::before{
            width:14.58vw;
            height:2.71vw;
            border-radius:10.42vw;;
        } // .pagebar::before

        &.type1::before{
            width:27.71vw;
        } // .pagebar.type1::before

        &.type2::before{
            width:43.75vw;
        } // .pagebar.type2::before

    }

}