/* title_wrap */
.title_wrap{
    font-size:18px;
    margin:39px 0 42px;

    &_subject{
        font-size:30px;
        font-weight:600; 
        margin-bottom:5px;

        &::after{
            content: '';
            display: inline-block;
            vertical-align: bottom;
            margin-left: 5px;
            width: 40px;
            height: 40px;
        } //.title_wrap_subject::after

        &.teacher::after{
            background-position: -262px -92px;
        } // .title_wrap_subject.teacher::after

        &.chef::after{
            background-position: -262px -137px;
        } // .title_wrap_subject.chef::after

        &.defy::after{
            background-position: -209px -88px;
            width: 41px;
            height: 41px;
        } // .title_wrap_subject.defy::after

    } // .title_wrap_subject

    .icon{
        display:inline-block;
        vertical-align:bottom;
        margin-left:5px;
    }

    &.type1{
        color:#fff;
        font-weight:500;
        font-size:20px;
        letter-spacing:-1px;
        margin:0;

        .title_wrap_subject{
            font-family:$ff_nanum;
            font-size:48px;
            margin-bottom:19.8px;
            font-weight:900;

            .beta{
                display:inline-block;
                font-size:13px;
                width:46px;
                height:20px;
                background-color:#fff;
                border-radius:5px;
                color:#f97312;
                text-align:center;
                line-height:20px;
                font-family:"NanumSquare", "san-serif";
                letter-spacing:-0.9px;
            }

            &::after{
                content: none;
            }
        }

    } // .title_wrap.type1

    &.type2{
        margin:39px 0 0;

        .title_wrap_subject{
            position:relative;
            font-size:36px;
            line-height:47px;

            .text{
                display:inline-block;
                box-shadow:0 -24px 0 0 #fff5c0 inset;
                padding-bottom:4px;
            }

            &::after{
                content: none;
            }

        }

    } // .title_wrap.type2

}

@include mobile{

    .title_wrap{
        font-size:3.75vw;
        margin:8.13vw 0 8.75vw;

        &.type1{
            font-size:4.17vw;

            .title_wrap_subject{
                font-size:10vw;
                margin-bottom:4.13vw;

                .beta{
                    font-size:2.7vw;
                    width:9vw;
                    height:4vw;
                    border-radius:1vw;
                    line-height:4vw;
                    letter-spacing:-0.1vw;
                }
            }
        }// .title_wrap.type1

        &.type2{
            margin:8.12vw 0 0;

            .title_wrap_subject{
                line-height:9.79vw;
                font-size:7.5vw;
                
                .text{
                    box-shadow:0 -5vw 0 0 #fff5c0 inset;
                    padding-bottom:0.83vw;
                }
            }
        }// .title_wrap.type2

        &_subject{
            font-size:6.25vw;
            margin-bottom:1.04vw;

            &::after{
                width: 8.33vw;
                height: 8.33vw;
                margin-left: 1.04vw;
            }// .title_wrap_subject::after

            &.teacher::after{
                background-position: -55.58vw -19.17vw;
            } // .title_wrap_subject.teacher::after
    
            &.chef::after{
                background-position: -55.58vw -28.54vw;
                height: 9.33vw;
            } // .title_wrap_subject.chef::after
    
            &.defy::after{
                background-position: -44.3vw -18.33vw;
                width: 8.54vw;
                height: 8.54vw;
            } // .title_wrap_subject.defy::after
        }// .title_wrap_subject

        .icon{
            margin-left:1.04vw;
        }
    }
    
}