/* .contents_wrap */
.contents_wrap{
    max-width:480px;
    width:auto;
    margin:0 auto;
    padding:74px 40px 49px;
    box-sizing:border-box;

    &.guide .contents{
        height:calc(100vh - 211px);
        min-height:377px;
    } // .contents_wrap.guide .contents, .contents_wrap.dislike_menu .contents, .contents_wrap.yesterday_menu .contents

    &.recommend_result .contents{
        height:calc(100vh - 284px);
        min-height:1060px;
    } // contents_wrap.recommend_result .contents

    &.guide{
        overflow:hidden;

        .contents{
            min-height:487px;
        }

    } // contents_wrap.guide

    /* line */
    .line{
        width:100vw;
        height:2.08vw;
        max-height:10px;
        max-width:480px;
        margin-left:-40px;
        background-color:#f6f6f6;
    }
}

/* contents */
.contents{
    box-sizing:border-box;

    .util{
        padding:9px 0;

    }

}

/* .main */
.main{
    max-width:480px;
    width:100%;
    height:100%;
    margin:0 auto;
    background-color:#f97312;

    /* .main .contents */
    .contents{
        height:calc(100vh - 479px);
        min-height:451px;
        padding:52px 37.5px 114px;
        border-radius:30px 30px 0 0;
        background-color:#fff;
    }
    
}

/* mobile */
@include mobile{

    .contents_wrap{
        padding:15vw 8vw 10.2vw;

        &.guide .contents{
            height:calc(100vh - 43.96vw);
            min-height:101.4583vw;
        }// .contents_wrap.guide .contents

        &.recommend_result .contents{
            height:calc(100vh - 59.16vw);
            min-height:220vw;
        }// .contents_wrap.recommend_result .contents

        .line{
            margin-left:-8.33vw;
        }

    }

    .contents{
        min-height:125vw;

        .util{
            padding:1.88vw 0;
        }

    }

    /* .main */
    .main{

        .contents{
            min-height:93.95vw;
            height:calc(100vh - 99.79vw);
            padding:10.83vw 7.81vw 23.75vw;
            border-radius:6.25vw 6.25vw 0 0;
        }

    }
        
}
