html, body{
    height:unset;
}

/* loader_page */
.loader_page{

    .contents_wrap{
        padding:0 !important;
    }

}

/*.loader*/
.loader{
    @include loader;

    &::before{
        @include loader_before;
    } // .loader::before

    &_wrap{
        position:relative;
        margin-top: 33vh;

        &::after{
            content: '';
            display: block;
            position:absolute;
            top:52px;
            left:210px;
            background-position: -88px -88px;
            width: 60px;
            height: 60px;
        }

    } // .loader_wrap

    &_text{
        height:15vw;
        position:relative;
        overflow:hidden;

        &:after{
            content:"";
            display: block;
            position:absolute;
            animation: textflip 7s infinite;
            opacity: 0;
            top:0;
            left:0;
            width:100%;
            height:100%;
            margin-top:34px;
            font-family:$ff_nanum;
            font-size:24px;
            font-weight:900;
            text-align:center;
            color:#000;
        }// .loader_text::after

    } // .loader_text

}

/* keyframes */
@-webkit-keyframes loading{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
    }
@keyframes loading{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
@keyframes textflip {
  
    0% {
        content: "네이버 지도 평점 분석 중...";
        opacity: 1;
    }
    10%{
        opacity: 0;
    }
    33% {
        content: "승우아빠한테 물어보는 중...";
        opacity: 1;
    }
    43%{
        opacity: 0;
    }
    66% {
        content: "식객보고 우는 중...";
        opacity: 1;
    }
    76%{
        opacity: 0;
    }
    100%{
        content: "네이버 지도 평점 분석 중...";
        opacity: 1;
    }
}

@include mobile{
    .loader{
        width:33.33vw;
        height:33.33vw;

        &_wrap{
            position:relative;
            width:100vw;

            &::after{
                top:10.45vw;
                left:43.75vw;
                width:12.5vw;
                height:12.5vw;
                background-position:-18.33vw -18.33vw;
            }

        } //.loader_wrap

        &_text::after{
            margin-top:7.08vw;
            font-size:5vw;
        } //.loader_text

    }
    
}